.idea
.gradle
*.iml
applet/out
applet/build
simulator/build
simulator/out
tester/build
tester/out

test_generator/.venv
test_generator/__pycache__

*.class
*.cap
*~
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

applet/*_result.csv
